<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRM.styles.css" asp-append-version="true" />
    <link href="~/css/StyleMenu.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Index">
                                <span data-feather="home"></span>
                                INICIO
                            </a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="~/Clientes/Clientes">
                                <span data-feather="file"></span>
                                CLIENTES
                            </a>
                        </li>
                     
                        <li class="nav-item">
                            <a class="nav-link" href="~/Citas/VerRegistros">
                                <span data-feather="users"></span>
                                CITAS
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="~/Tratamiento/VerTratamientos">
                                <span data-feather="users"></span>
                                TRATAMIENTOS
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="~/Encargados/VerPersonasEncargadas">
                                <span data-feather="users"></span>
                                PERSONAL ENCARGADO
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Promocion/VerPromociones">
                                <span data-feather="users"></span>
                                PROMOCIONES
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Cursos/VerCursos">
                                <span data-feather="users"></span>
                                CURSOS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Inscripcion/VerInscripcion">
                                <span data-feather="users"></span>
                                INSCRIPCIÓN
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewData["Title"]</h1>
                </div>

                <!-- Aquí se inyectará el contenido de la página -->
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>