@page
@model CRM.Pages.VerPersonasEncargadasModel
@{
    ViewData["Title"] = "Personas Encargadas";
}
<a href="~/Encargados/AgregarPersonaEncargada" class="btn btn-primary btn-lg btn-block mt-3 mb-5">Agregar Personal Encargado</a>


<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PersonasEncargadas.Count > 0)
        {
            foreach (var persona in Model.PersonasEncargadas)
            {
                <tr>
                    <td>@persona.Nombre</td>
                    <td>@persona.Puesto</td>
                    <td>
                        <a asp-page="EditarPersonaEncargada" asp-route-id="@persona.Id" class="btn btn-warning">Editar</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@persona.Id" class="d-inline">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No se encontraron personas encargadas.</td>
            </tr>
        }
    </tbody>
</table>
