@page "{id:int}"
@model CRM.Pages.EditarPromocionModel
@{
    ViewData["Title"] = "Editar Promoción";
}


<form method="post">
    <div class="form-group">
        <label asp-for="Descripcion">Descripción:</label>
        <input asp-for="Descripcion" type="text" class="form-control" required />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaInicio">Fecha de Inicio:</label>
        <input asp-for="FechaInicio" type="date" class="form-control" required />
        <span asp-validation-for="FechaInicio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaFinal">Fecha Final:</label>
        <input asp-for="FechaFinal" type="date" class="form-control" required />
        <span asp-validation-for="FechaFinal" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
</form>
