@page
@model CRM.Pages.VerTratamientosModel
@{
    ViewData["Title"] = "Ver Tratamientos";
}

<a href="/RegistrarTratamientos" class="btn btn-primary btn-lg btn-block mt-3 mb-5">Agregar Tratamientos</a>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Nombre del Tratamiento</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tratamientos.Count > 0)
        {
            foreach (var tratamiento in Model.Tratamientos)
            {
                <tr>
                    <td>@tratamiento.Nombre</td>
                    <td>@tratamiento.Precio</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No se encontraron tratamientos registrados.</td>
            </tr>
        }
    </tbody>
</table>
